*, body{margin:0 auto; padding:0; }
body { width:810px; background:transparent;}
#container{
	margin: auto;
	position:relative;
	overflow:hidden;
	width:810px;
	height:1000px;
}
/*stranice*/
.landing{
	background:url(../files/landing.jpg) no-repeat;
}

.thank_you{
	background:url(../files/thank_you.jpg) no-repeat;
}

.upload{
	background:url(../files/upload.jpg) no-repeat;
}
/*dugmici*/
.btns{
	position:relative;	
	text-indent:-9999px;
}

.signup{
	width: 370px;
	height: 215px;
	top: 750px;
	background: url(../img/prijavi_se.png) no-repeat;
}

.back{
	width:370px;
	height:215px;
	top: 661px;
	background:url(../img/nazad.png) no-repeat;
}

.back a , .signup a{
	position: absolute;
	display: block;
	width: 80%;
	left: 10%;
	top: 20%;
	height: 39%;
}


.send-btn {
	display: block;
	width: 350px;
	height: 131px;
	float: left;
	clear: both;
	background: url(../img/posalji.png)no-repeat;
	margin-left: -12px;
	text-indent: -9999px;
}

/* Ostalo */

.img-holder {
	width: 320px;
	height: 540px;
	display: inline-block;
	float: left;
	background: url(../img/upload_zone.png) no-repeat;
	position: relative;
	top: 215px;
}

.img-holder form {
	height: 100%;
}

.uploaded {
	margin: 9px;
	border-radius: 10px 10px 0 0;
	height: 475px;
	width: 302px;
	overflow: hidden;
}

#posle {
	left: 50px;
}

#pre {
	left: 30px;
}

#upload-area{
	height:800px;
}


.mask {
	background: url(../img/upload.png) no-repeat;
	display: inline-block;
	float: left;
	margin: -1px 0 0 13px;
	cursor: pointer;
}

.mask input {
	width: 105px;
	height: 35px;
	padding: 6px;
	opacity: 0;
}

.delete {
	background: url(../img/delete.png) no-repeat;
	width: 33px;
	height: 33px;
	display: inline-block;
	float: right;
	margin: 0 15px 0 0;
	cursor: pointer;
}

.delete:hover, .mask:hover{
	opacity:0.7;
}

.column-half {
	width: 365px;
	float: left;
	display: block;
	margin-left: 40px;
}

.column-half>input {
	display: block;
	width: 310px;
	float: left;
	margin: 0 0 10px 0;
}

input[type="text"] {
	border: none;
	height: 40px;
	padding-left: 10px;
	border-radius: 7px;
	-webkit-box-shadow: 3px 3px 13px rgba(75, 75, 73, 0.75);
	-moz-box-shadow: 3px 3px 13px rgba(75, 75, 73, 0.75);
	box-shadow: 3px 3px 13px rgba(75, 75, 73, 0.75);
}

.column-thirds input {
	width: 90px;
	margin-right: 6px;
}